<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>



<% @array.each do |n| %>
  <%= n %>
<% end %>


<%= link_to('Hello', {:action => 'hello', :page => '5', :id => '20'}) %>

</br>

